<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gryphon Academy Home</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="navbar">
        <img src="/static/images/logo.png" alt="Logo" class="logo">
        <div>
            <a href="">Home</a>
            <a href="register">Register</a>
            <a href="login">Login</a>
            <a href="admin_login">Admin</a>
        </div>
    </div>

    <div class="hero">
        <h1>Welcome to Gryphon Academy</h1>
        <p>Your gateway to elite DSA contests and coding challenges</p>
        <a href="register" class="btn">Register</a>
        <a href="login" class="btn">Login</a>
    </div>
</body>
</html>
